* {
    color: black;
}

@keyframes grow {
    0% {
        width: 100%;
    }
    50% {
        width: 40%;
    }
    100% {
        width: 100%;
    }
}

.contener {
 display: flex;
 flex-wrap: wrap;
 background-color: aquamarine;
 width: 100%;
 min-height: 100%;
 animation: grow 5s infinite;
}   

.box {
    min-width: 10em;
    min-height: 10em;
    margin: 0.4em;
    border-radius: 1em;
    background-color: lightblue;
    text-align: center;
}